<% include ./partials/haeder.ejs %>

<center>
	
	<div class="container-fluid">
	 	<div class="container">
	 		<div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11">

				<h2>Login</h2>

				<form method="post" action="/">

				    <label for="email">Email</label>
				    <input class="form-control" type="text" name="email" id="email">

				    <label for="email">Password</label>
				    <input class="form-control" type="password" name="password" id="password">
					
					<br>

				    <input class="btn btn-default" type="submit">
			    
				</form>

				<br>

				<a href="/signup">
					<button>
						signup
					</button>
				</a>
			
			</div>
		</div>
	</div>

</center>

<% include ./partials/footer.ejs %>