<% include partials/haeder.ejs %>

<center>

	<h1> Sup </h1>
	
	<!-- <p> You did another the thing! </p> -->

	<br>
	
	<a href="/yo">
		<button> Yo </button>
	</a>

</center>

<% include partials/footer.ejs %>